extends layout

block content
    a.btn.btn-link(href='/category') Category
    a.btn.btn-link(href='/category/add') New Category
    hr
    h4 List of book category
    hr
    ul
        each val in categoryList
            li 
                div 
                    b= val.get('name')
                div 
                    i= val.get('description')
        