extends layout

block content
    h4 Welcome to the bookshelf online
    hr
    h5 List of books on bookshelf online 
    ul
        each value, index in results
            li
                div
                    b 
                        a(href='upload?id=#{value.id}') Book Title: #{value.get('title')}
                div 
                    i Author: #{value.get('author')}