extends layout

block content
    h4 Bookshelf online 
    hr
    ul
        each value, index in results
            li
                div
                    b 
                        a(href='upload/#{value.id}') Book Title: #{value.get('title')}
                div 
                    i Author: #{value.get('author')}